<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mine.west.dao.AccountRoleMapper">
  <resultMap id="BaseResultMap" type="com.mine.west.models.AccountRole">
    <constructor>
      <idArg column="arID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="accountID" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="roleID" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from account_role
    where arID = #{arID,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mine.west.models.AccountRole">
    insert into account_role (arID, accountID, roleID
      )
    values (#{arID,jdbcType=INTEGER}, #{accountID,jdbcType=INTEGER}, #{roleID,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mine.west.models.AccountRole">
    update account_role
    set accountID = #{accountID,jdbcType=INTEGER},
      roleID = #{roleID,jdbcType=INTEGER}
    where arID = #{arID,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select arID, accountID, roleID
    from account_role
    where arID = #{arID,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select arID, accountID, roleID
    from account_role
  </select>
</mapper>